<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HTML based ProductApp tests results">
    <test name="User registration and products adding scenario">
        <classes>
            <class name="com.petProject.productsStore.integrationTest.UserProductAddingScenarioIT" />
        </classes>
    </test>
    <test name="User update scenario">
        <classes>
            <class name="com.petProject.productsStore.integrationTest.UserUpdatingScenarioIT" />
        </classes>
    </test>
    <test name="ProductGettingScenario">
        <classes>
            <class name="com.petProject.productsStore.integrationTest.ProductGettingScenarioIT" />
        </classes>
    </test>
</suite>